# Ignore all files and directories at the root level
/*

# Un-ignore thought lectures directories
!/01-file-descriptors
!/02-processes
!/03-threads
!/05-pipes
!/06-sockets
!/07-files

# Un-ignore this .gitignore file
!/.gitignore